@media (hover: none) and (pointer: coarse) {
  .descriptionOrganization {
    margin: 0 auto;
  }
}

.blockHistory {
  max-width: 70.68rem;
  margin: 0 auto 3rem auto;
}

.title {
  margin-bottom: 3rem;
  text-align: center;
  font: 500 2.4rem / 2.4rem "agora";
}

.appName {
  font-weight: 600;
}

.historyTitle {
  margin-bottom: 0.7rem;
}

.historyText {
  margin-bottom: 1rem;
  font: 400 1.6rem / 2rem "agora";
  text-align: justify;
  text-indent: 2rem;
}

.descriptionOrganization ul {
  list-style-position: inside; 
  margin: 0 0 2rem 0;
  padding-left: 0;  
}

.descriptionOrganization li {
  font: 400 1.6rem / 2rem "agora";
  list-style-type: disc;
  padding-left: 1.5rem;
}

