.navigation {
  position: relative;
}

@media(max-width: 813px){
  .navigation {
    margin: 0 0 3rem 0;
  }
}

.unList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

@media(max-width: 813px){
  .unList {
    justify-content: center;
    border-radius: 1rem;
    overflow: hidden;
  }
}

.li {
  list-style-type: none;
  background: #E6E6E6;
  border: 1px solid #E6E6E6;
  border-bottom: 0;
}

@media(max-width: 813px){
  .li {
    border-radius: 1rem;
    overflow: hidden;
  }
}

.li a, .p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 10rem;
  height: 4rem;
}

.p {
  cursor: pointer;
}

.active {
  background: #F6F6F6;
}

.clear {
  display: none;
}