.navigation {
  position: relative;
}

.unList {
  display: flex;
  gap: 0 1rem;
}

.li {
  list-style-type: none;
  background: #E6E6E6;
  border: 1px solid #E6E6E6;
  border-bottom: 0;
}

.li a, .p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 10rem;
  height: 4rem;
}

.p {
  cursor: pointer;
}

.active {
  background: #F6F6F6;
}

.clear {
  display: none;
}