.title {
  text-align: center;
  font: 500 2.4rem / 2.4rem "agora";
}

.blockHistory {
  max-width: 70.68rem;
  margin: 0 auto 3rem auto;
}

.historyTitle {

}

.historyText {
  margin-bottom: 1rem;
  font: 400 1.6rem / 2rem "agora";
  text-align: justify;
  text-indent: 2rem;
}