.blockHistory {
  max-width: 70.68rem;
  margin: 0 auto 3rem auto;
}

.title {
  margin-bottom: 3rem;
  text-align: center;
  font: 500 2.4rem / 2.4rem "agora";
}

.historyTitle {
  margin-bottom: 0.7rem;
}

.historyText {
  margin-bottom: 1rem;
  font: 400 1.6rem / 2rem "agora";
  text-align: justify;
  text-indent: 2rem;
}