@media (hover: none) and (pointer: coarse) {
  .training {
    margin: 0 auto;
  }
}

.stageBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 68rem;
}

