.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  transform: scale(1.1);
}

.buttonSVG {
  width: 1.8rem;
  height: 1.8rem;
}