.admin {
  padding: 2rem;
  overflow-x: auto; /* важно, если не используешь wrapper */
}

.tableWrapper {
  overflow-x: auto;
  width: 100%;
}

.userTable {
  width: max-content; /* ширина зависит от содержимого */
  border-collapse: collapse;
}
