.blockTitle {
  margin-bottom: 3rem;
}

.title {
  text-align: center;
  font: 500 2.4rem / 2.4rem "agora";
}

.blockDescription {
  max-width: 70.68rem;
  margin: 0 auto 3rem auto;
}

.description {
  margin-bottom: 1rem;
  font: 400 1.6rem / 2rem "agora";
  text-align: justify;
  text-indent: 2rem;
}

.titleQuestions {
  margin-bottom: 0.5rem;
  font: 500 1.8rem / 2rem "agora";
}

.additionalInfo {
  margin-bottom: 5rem;
}

@media (max-width: 820px) {
  .additionalInfo {
    display: flex;
    flex-direction: column;
  }
}

.ordersBlock {
  display: flex;
  gap: 0 0.5rem;
}

@media (max-width: 820px) {
  .ordersBlock {
    margin-bottom: 2rem;
  }
}

.additionalInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.orderLink, .downloadLink {
  font-weight: 500;
  color: #0064b1;
  cursor: pointer;
  transition: 0.3s;
}

.orderLink:hover, .downloadLink:hover {
  color: #0091ff;
}