.usersList {
  width: 100%;
}

.usersList table {
  width: max-content;
  border-collapse: collapse;
}

@media (hover: none) and (pointer: coarse) {
  .usersList {
    padding: 0 2rem 0 0;
    overflow-x: auto;
  }
}

.userTitle {
  margin-bottom: 3rem;
  text-align: center;
  font: 500 2.4rem / 2.4rem "agora";
}

td, th {
  padding: 0.5rem;
  border: 1px solid #000;
}

table {
  margin-bottom: 3rem;
}