.userTable p, label {
  white-space: nowrap;
}

@media (hover: none) and (pointer: coarse) {
  .userTable {
    padding: 0 2rem 0 0;
    overflow-x: auto;
  }
}

.focus {
  background: #fff;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.9)
}

.resultTextInput {
  display: flex;
  flex-wrap: nowrap;
}

.settings svg {
  width: 2rem;
  height: 2rem;
}