h1, h2, h3, h4, h5, h6, p, a, span, li, button {
  font-family: 'agora';
}

.light-theme {
  background: #363549;
  color: #E6E6E6;
}

.dark-theme {
  background: #fff;
  color: #1d1d1e;
}

body {
  padding: 2rem;
}

.app {
  display: flex;
  flex-direction: column;
  max-width: 102.4rem;
  margin: 0 auto;
}

.topBlock {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.app__block_title {
  width: 100%;
  text-align: center;
}

.titleH1 {
  font: 500 2.4rem / 2.4rem "agora";
}