h1, h2, h3, h4, h5, h6, p, a, span, li, button {
  font-family: 'agora';
}

.light-theme {
  background: #363549;
  color: #E6E6E6;
}

.dark-theme {
  background: #fff;
  color: #1d1d1e;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 102.4rem;
  margin: 0 auto;
  height: 100%;
}

.clear-block {
  display: none;
}
