.header {
  margin-bottom: 4rem;
  width: 100%;
}

@media (hover: none) and (pointer: coarse) {
  .header {
    position: relative;
    padding-top: 0.4rem;
    overflow: hidden;
  }
}

.blockTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.blockLabel {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.userMenuWrapper {
  position: relative;
}

.blockControl {
  display: flex;
  justify-content: end;
  align-items: start;
  gap: 0 2rem;
}

@media (hover: none) and (pointer: coarse) {
  .blockControl {
    display: none;
  }
}

.blockControlMobile {
  display: none;
}

@media (hover: none) and (pointer: coarse) {
  .blockControlMobile {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0rem;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 0 2rem;
    width: 0;
    max-width: 22rem;/* нужно для того, что-бы при закрытии меню оно не расширялось на 60% */
    height: 0;
    padding-top: 5rem;
    background: #F6F6F6;
    border: 1px solid #000;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  .blockControlMobile.active {
    /* right: 0.4rem; */
    width: 60%;
    max-width: 22rem;
    height: 40rem;
    opacity: 1;
  }
}

.blockTitle {
  width: 100%;
  text-align: center;
}

.titleH1 {
  font: 500 2.4rem / 2.4rem "agora";
}

@media (hover: none) and (pointer: coarse) {
  .titleH1 {
    margin-bottom: 5rem;
  }
}