.btnWrap {
  display: flex;
  gap: 2rem;
}

@media (hover: none) and (pointer: coarse) and (max-width: 425px) {
  .btnWrap {
    flex-direction: column;
  }
}

.btnWrap button:hover {
  cursor: pointer;
}