.trainingMaterials {
  width: 100%;
}

.title {
  margin-bottom: 3rem;
  text-align: center;
  font: 500 2.4rem / 2.4rem "agora";
}

.mainBlock {
  display: flex;
  gap: 0 2rem;
  width: 100%;
}

.mainBlock nav {
  flex: 1;
}

.mainBlock section {
  flex: 3;
  padding: 2rem;
  background: #fff;
  box-shadow: 1px 1px 0px 1px rgba(131, 130, 130, 0.1921568627);
}

.blockNavigation {
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
  padding: 3rem;
  background: #fff;
  box-shadow: 1px 1px 0px 1px rgba(131, 130, 130, 0.1921568627);
}

@media (hover: none) and (pointer: coarse) {
  .blockNavigation {
    background: transparent;
    box-shadow: none;
  }
}

.blockNavigation ul {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  width: 100%;
}

@media (hover: none) and (pointer: coarse) {
  .blockNavigation ul {
    align-items: center;
    gap: 2rem;
  }
}

.blockNavigation .li {
  display: inline-block;
  height: 3.5rem;
  background: #e6e6e6;
  border: none;
  border-radius: 0.5rem;
  color: #1d1d1e;
  font-weight: 500;
  line-height: 3.5rem;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1),
    inset -1px -1px 1px 1px rgba(0, 0, 0, 0.219),
    inset 1px 1px 1px 1px rgb(255, 255, 255);
  transition: all 0.1s;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}

@media (hover: none) and (pointer: coarse) {
  .blockNavigation .li {
    max-width: 13rem;
    height: 6rem;
    padding: 0.2rem 0.5rem;
  }

  .blockNavigation .li a{
    line-height: 2rem;
  }
}

.blockNavigation a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

@media (hover: none) and (pointer: coarse) {
  .blockNavigation a {
    /* width: 10rem;
    height: 6rem; */
  }
}

.blockNavigation .active {
  background: #e6e6e6;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2), 
  inset 1px 1px 1px 1px rgba(0, 0, 0, 0.219), 
  inset -1px -1px 1px 1px rgba(255, 255, 255, 0.349);
}

.stickCard {
  padding: 2rem;
  background: #fff;
  box-shadow: 1px 1px 0px 1px rgba(131, 130, 130, 0.19);
}

.blockImage {
  display: flex;
  align-items: center;
  width: 30rem;
  min-height: 15rem;
}

.blockImage img {
  width: 100%;
}

@media (hover: none) and (pointer: coarse) {
  .sectionPc {
    display: none;
  }
}
