.buttonDef {
  display: inline-block;
  padding: 0 1rem;
  height: 3.5rem;
  background: #e6e6e6;
  border: none;
  border-radius: 0.5rem;
  color: #1d1d1e;
  font-weight: 500;
  line-height: 3.5rem;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1),
    inset -1px -1px 1px 1px rgba(0, 0, 0, 0.219),
    inset 1px 1px 1px 1px rgb(255, 255, 255);
  transition: all 0.1s;
  cursor: pointer;
  user-select: none;
}

.btnBackMobile {
  display: none;
}

@media (hover: none) and (pointer: coarse) {
  .btnBackMobile {
    display: inline-block;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 100;
  }
}

.buttonDef:active {
  background: #e4e4e4;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1), 
  inset 1px 1px 1px 1px rgba(0, 0, 0, 0.219), 
  inset -1px -1px 1px 1px rgba(255, 255, 255, 0.349);
}

.dark {
  color: #363549;
  background: #e6e6e6;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1),
    inset -1px -1px 1px 1px rgba(0, 0, 0, 0.219),
    inset 1px 1px 1px 1px rgb(255, 255, 255);
}

.light {
  color: #e6e6e6;
  background: #363549;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1),
    inset -1px -1px 1px 1px rgba(0, 0, 0, 0.486),
    inset 1px 1px 1px 1px rgb(82, 80, 110);
}

.light:active {
  background: #333144;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1), 
  inset 1px 1px 1px 1px rgba(0, 0, 0, 0.486), 
  inset -1px -1px 1px 1px rgb(82, 80, 110);
}